@page
@model UserModel
@{
}

<h2 class="text-center">Let's Travel the World</h2>


<div>
    First Name: @Model._appUser?.FirstName
</div>

<div>
    Last Name: @Model._appUser?.LastName
</div>

<div>
    Email: @Model._appUser?.Email
</div>

<div>
    Phone: @Model._appUser?.PhoneNumber
</div>

<div>
    Address: @Model._appUser?.Address
</div>

<div>
    Created At: @Model._appUser?.CreatAt.ToString("MM/dd/yyyy")
</div>
